.marketing {
  margin-left: 120px;
  width: 100%;
}
.marketing-inner {
  width: 97%;
  margin: 10px;
}
.yellow-box {
  width: 100%;
}

.row {
  display: flex;
}
.right {
  text-align: right;
}
.CustomerDemography {
  text-align: right;
}
