.customer {
  margin-left: 120px;
  width: 100%;
}
.customer-inner {
  width: 97%;
  margin: 10px;
}
.yellow-box {
  width: 100%;
}
.units {
  margin-left: 120px;
  width: 100%;
}
.units-inner {
  width: 97%;
  margin: 10px;
}
.yellow-box {
  width: 100%;
}
